/* Desktop */
.alert{
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
}
#gif{
    margin-left: 40%;
    margin-bottom: 2%;
}
.welcome {
    text-align: center;
    font-size: x-large;
    margin-bottom: 2%;
}
#ok{
    margin-left: 48%;
    margin-bottom: 2%;
}
/* Utilisation de media queries pour optimisation du responsive mobile/tablette */

/* Mobile */
@media (min-width: 360px) and (max-width: 767.98px) {
    .alert{
        margin-top: 30%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    #gif{
        margin-left: 20%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .welcome {
        text-align: center;
        font-size: x-large;
        margin-bottom: 2%;
    }
    #ok{
        margin-left: 48%;
        margin-bottom: 7%;
    }
}
  
  /* Tablette */
   @media (min-width: 768px) and (max-width: 991.98px) {
    .alert{
        margin-top: 30%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    #gif{
        margin-left: 35.5%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .welcome {
        text-align: center;
        font-size: x-large;
        margin-bottom: 2%;
    }
    #ok{
        margin-left: 48%;
        margin-bottom: 7%;
    }
}