/* Desktop */
h2{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}
#instrument{
    width: 200px;
    height: 230px;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.designation{
    margin-left: 35%;
    margin-top: -30%;
    font-weight: bold;
}
.description, .quantity{
    margin-left: 35%;
}
a{
    color:black;
    text-decoration-color: none;
}
.price{
    margin-left: 35%;
    font-size: 150%;
    color: coral;
    margin-bottom: 2%;
}
.totalPrice{
    margin-left: 80%;
    font-size: 150%;
    color: coral;
    margin-bottom: 2%;
}
#extract{
    margin-left: 35%;
}
#validation{
    margin-left: 55%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Utilisation de media queries pour optimisation du responsive mobile/tablette */

/* Mobile */
@media (min-width: 360px) and (max-width: 767.98px) {
    h2{
        text-align: center;
        margin-top: 25%;
        margin-bottom: 3%;
    }
    #instrument{
        width: 200px;
        height: 230px;
        margin-left: 75%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .designation{
        margin-left: 35%;
        margin-top: 2%;
        font-weight: bold;
    }
    .description, .quantity{
        margin-left: 35%;
    }
    a{
        color:black;
        text-decoration-color: none;
    }
    .price{
        margin-left: 35%;
        font-size: 150%;
        color: coral;
        margin-bottom: 2%;
    }
    .totalPrice{
        margin-left: 80%;
        font-size: 150%;
        color: coral;
        margin-bottom: 2%;
        margin-left: 35%;
    }
    #extract{
        margin-left: 35%;
        margin-top: 2%;
    }
    #validation{
        margin-left: 38%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #clear{
        margin-left: 32%;
        margin-bottom: 5%;
    }
    #back{
        margin-left: 26.5%;
        margin-bottom: 5%;
    }
  }
  
  /* Tablette */
   @media (min-width: 768px) and (max-width: 991.98px) {
    h2{
        text-align: center;
        margin-top: 25%;
        margin-bottom: 3%;
    }
    #instrument{
        width: 200px;
        height: 230px;
        margin-left: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .designation{
        margin-left: 52%;
        margin-top: -52%;
        font-weight: bold;
    }
    .description, .quantity{
        margin-left: 52%;
    }
    a{
        color:black;
        text-decoration-color: none;
    }
    .price{
        margin-left: 52%;
        font-size: 150%;
        color: coral;
        margin-bottom: 2%;
    }
    .totalPrice{
        margin-left: 80%;
        font-size: 150%;
        color: coral;
        margin-bottom: 2%;
    }
    #extract{
        margin-left: 52%;
    }
    #validation{
        margin-left: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
  }